.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centered-container {
  display: flex;
  align-items: center;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px; */
  height: 100%;
  background-color: #f1f1f1;
  flex: 0 0 auto;
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.slider label {
  margin-right: 10px;
  font-weight: bold;
}

.button {
  margin-top: 10px;
}

.canvas-container {
  /* position: relative;
  flex: 1; */
}

.waterCanvas {
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  height: 100%;
}
