.simulation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-top: 5%;
}
.centered-container {
  display: flex;
  align-items: center;
}

.waterContainer {
  height: 600px;
}

.text-container p {
  /* align-items: center; */
  /* justify-content: center; */
  margin-bottom: 10px;
  border: 2px dashed black;
  height: 9em;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  flex: 0 0 auto;
  height: 100%;
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.slider label {
  margin-right: 10px;
  font-weight: bold;
}

.button {
  margin-top: 10px;
}
